*{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.item {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
   
  }
  
  .text {
    height: 50px;
    font-size: 24px;
    border: 2px solid #0059ff;
    
  }
  
  .textarea {
    height: 120px;
    font-size: 24px;
    border: 2px solid #0059ff;
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }
  
  .password {
    height: 40px;
    margin-bottom: 10px;
    font-size: 22px;
    border: 2px solid #0059ff;
 
  }
  
  .verify {
    height: 40px;
    font-size: 22px;
    border: 2px solid #0059ff;
 
  }
  
  .itemPassword {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 50px 0 20px 0;
  }