.primary .svgwoosh .woosh:hover {
    color: #2600ff;
  }
  .primary {
    all: unset;
  }
  .primary .woosh:hover rect {
    background-color: #ff0000;
    
  }
  
  .secondary .svgwoosh .woosh:hover {
    color: #97ea9f;
  }
  .secondary .woosh:hover rect {
    stroke: #97ea9f;
  }
  .secondary {
    all: unset;
    background-color: #97ea9f80;
  }
  
  .cancel .svgwoosh .woosh:hover {
    color: #cdcdcd;
  }
  .cancel .woosh:hover rect {
    stroke: #cdcdcd;
  }
  .cancel {
    all: unset;
    background-color: #cdcdcd80;
  }
  
  .svgwoosh .woosh {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(25, 0, 255);
    border: none;
    border-radius: 8px;
    outline: 2px solid rgb(25, 0, 255);
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
  }
  .svgwoosh .woosh svg {
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
 
  .svgwoosh .woosh:hover {
    color: #fff;
    z-index: 1;
  }
  .svgwoosh .woosh::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background-color: rgb(0, 8, 255);
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    z-index: -1;
    transition: transform 1s;
  }
 
  .svgwoosh .woosh:hover::before {
    transform: scaleX(1) skewX(35deg);
  }
  /*.svgwoosh .woosh rect {
    fill: none;
    stroke: rgb(8, 0, 255);
    stroke-width: 4;
    stroke-dasharray: 422, 0;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2.35s cubic-bezier(0.19, 1, 0.22, 1);
    .svgwoosh .woosh:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
  }
  }*/