.title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
  
.text {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
}

.textMap {
  font-size: 18px;
  margin: 10px;
}