.page {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  
  }
  
  .petsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
   
    padding: 10px;
    height: 500px;
   
  }
  @media (min-width: 769px) {
    .petsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }