.root {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 13px 0;
    box-shadow: 8px 5px 10px 3px #0059ff;
    background-color: rgb( 240, 243, 244 );
}
  
  .image {
    width: 80%;
    height: 50%;
  }
  
  .info {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .name {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  
  .place {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px 0;
  }
  
  .link {
    text-align: center;
    font-weight: 700;
    margin: 0;
  }